<!-- required to pass assert statement with same text if erb specified in app.rb - get '/' do route -->
Hello, what is your name?

<form method="post" action="name">
  <input type="text" name="user_name">
  <input type="submit">
</form>
