/* classes are used for multiple items, ids are used to target a single object */

html {
  background-color: #76b7e2;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

div {
  margin: 0 auto;
  max-width: 600px;
}

a {
  color: #ffcc99;  /* Max's peach */
}

form {
  padding-bottom: 35px;
}

.image {
  background-image: url(/../images/personal_details.png);
  height: 38%;
  width: 50%;
}

.center {
  text-align: center;
}

.background_color {
  background-color: grey;
}

.blue {
  color: blue;
}

.padding {
  padding: 10px;
}
